body {
    background-color: #DCFFB7;
}

header div {
    display: flex;
    align-items: center;
}

div.content {
    max-width: 980px;
    margin: auto;
    overflow: hidden;
    background-color: #FFEAA7;
    border-radius: 10px;
}

.main-aside {
    display: flex;
    justify-content: space-between;
}

ul.nav {
    list-style-type: none;
    background-color: rgb(50, 50, 50);
    padding: 0;
    margin: 0;
    overflow: hidden;
}

li.nav a {
    float: left;
    display: block;
    padding: 20px;
    text-decoration: none;
    color: white;
}

li.nav a:hover {
    background-color: rgb(100, 100, 100);
}

table th,
table td {
    border: 1px solid black;
    background-color: #FFBB64;
}

.fruit-icon {
    text-align: center;
    font-size: 100px;
    margin: 0;
}

td.fruit-icon a {
    text-decoration: none;
}

footer {
    display: flex;
}

footer a {
    display: flex;
    align-items: center;
    margin: 5px;
}

footer img {
    height: 30px;
    border-radius: 10px;
}