@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*===========
| VARIABLES |
===========*/

:root {
    --palette-green: #DCFFB7;
    --palette-red: #FF6868;
    --palette-orange: #FFBB64;
    --palette-yellow: #FFEAA7;

    --tiny-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
}

/*======
| BASE |
======*/

* {
    font-family: Roboto, monospace;
    box-sizing: border-box;
}

body {
    background-color: var(--palette-green);
}

img {
    max-width: 100%;
    max-height: 100%;
}

h2 {
    margin-left: 1rem;
}

/*======
| LOGO |
======*/

header>div {
    display: flex;
    align-items: center;
    flex-direction: row;
}

header>div>a {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
}

header h1 {
    font-family: 'Protest Riot', monospace;
}

/*====================
| TOP NAVIGATION BAR |
====================*/

header>nav ul {
    background-color: var(--palette-orange);
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header>nav li {
    position: relative;
    min-width: 120px;
    text-align: center;
}

header>nav ul>li:hover {
    background-color: var(--palette-red);
}

header>nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

header>nav>ul>li>a {
    display: block;
    padding: 20px;
}

header>nav>ul ul {
    position: absolute;
    display: none;
    flex-flow: column;
}

header>nav>ul>li:hover>ul {
    display: flex;
    box-shadow: var(--tiny-shadow);
}

header>nav>ul ul>li>a {
    margin: 0;
    padding: 0;
}

header>nav>ul ul>li>a {
    display: block;
    padding: 10px;
}

header>nav>ul>li>ul>li>ul {
    left: 100%;
    top: 0%;
    flex-flow: row;
}

header>nav>ul>li>ul>li:hover>ul {
    display: flex;
    box-shadow: var(--tiny-shadow);
}

/*==============
| MAIN CONTENT |
==============*/

body>div {
    max-width: 980px;
    margin: auto;
    background-color: var(--palette-yellow);
    border-radius: 10px;
}

.main-aside {
    display: flex;
    justify-content: space-between;
}

aside {
    width: 200px;
}

aside p {
    color: var(--palette-red);
}

/*============
| QUICK JUMP |
============*/

.quick-jump li:hover {
    background-color: var(--palette-red);
}

/*=============
| FRUIT TABLE |
=============*/

table th,
table td {
    border: 1px solid black;
    background-color: var(--palette-orange);
}

table th:hover,
table td:hover {
    border-color: var(--palette-red);
}

.fruit-icon {
    text-align: center;
    font-size: 100px;
    margin: 0;
}

td.fruit-icon a {
    text-decoration: none;
}

/*==============
| CONTACT FORM |
==============*/

form {
    margin: 1rem;
    width: 400px;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--palette-orange);
    display: flex;
    flex-direction: column;
    box-shadow: var(--tiny-shadow);
}

form>* {
    margin-bottom: 1rem;
}

form>*:last-child {
    margin-bottom: 0;
}

form>div {
    display: flex;
    flex-direction: column;
}

form input[type="text"],
form select,
form textarea {
    padding: 0.5rem;
    outline: none;
    border: none;
    transition: box-shadow 0.2s;
}

form input[type="text"]:focus,
form select:focus,
form textarea:focus {
    box-shadow: 0 0 1px 2px var(--palette-red);
}

form fieldset>legend {
    background-color: var(--palette-yellow);
    box-shadow: var(--tiny-shadow);
}

form fieldset {
    background-color: var(--palette-yellow);
    border: none;
    box-shadow: var(--tiny-shadow);
}

form textarea {
    width: 100%;
    resize: vertical;
    min-height: 3.5rem;
}

form>div:has(button) {
    flex-direction: row;
}

form button {
    width: 50%;
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: var(--palette-red);
    border-radius: 1000px;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}

form button:hover {
    outline: 1px solid black;
}

form button:active {
    background-color: var(--palette-green);
}

/*=============
| INFO FOOTER |
=============*/

footer {
    display: flex;
}

footer a {
    display: flex;
    align-items: center;
    margin: 5px;
}

footer img {
    height: 30px;
    border-radius: 10px;
}