div.content {
    max-width: 980px;
    margin: auto;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
}

ul.nav {
    list-style-type: none;
    background-color: rgb(46, 46, 46);
    padding: 0;
    overflow: hidden;
}

li.nav a {
    float: left;
    display: block;
    padding: 20px;
    text-decoration: none;
    color: white;
}

li.nav a:hover {
    background-color: rgb(54, 54, 54);
}

table {
    background-color: pink;
    border-radius: 5px;
}

table,
td {
    border: 1px solid black;
}

td,
th {
    text-align: center;
}

aside {
    float: right;
    background-color: lightgray;
}